

Software Used:
	1)Vs code Version 1.70.2
	2)Pycharm Version 2022.1.1 community edition
	3)Postman Version 
	4)Mysql workbench 8.0 CE /Sqlite studio Version 3.3
	5)Mysql CLI/Shell 8.0 CE
	6)OS - Windows Operating System - Windows 10/11


Front End: 
	1)React Js Version 18.0.0
	2)Bootstrap Version 5.0
	3)Google Chrome Browser Version 104.0.5112.81
	4)Node Version 16.15.1


Backend:
	1)Django Version 4.1
	2)Django Restframework Version 3.12.4                        
	3)Mysql Version 8.0 CE/ Sqlite Version
	4)Python Version 3.10


#Hardware Used:

#Windows Machine Specification:
	Operating System : Windows 10 and above
	Processor : Intel I3 or Similar like Rhyzen - 2 GHz
	Memory size : 4 GB RAM
	Storage : 500 GB Hard Disk/ 256 GB SSD
	Display : EGA/VGA Color Monitor, 1920 x 1080 Pixels Resolution, High Color
	Key Board : Any with minimum required keys
	Internet Connection : Required
	Mouse : Any












